//Typography colors
$orange-main: #ffd640;
$orange-dark: #ff6600;
$text-dark: #333;

$main-link: #b2b2b2;
$main-pink: #f8f6ef;
// Background colors
$main-pink: #f8f6ef;
$blue-violet : #cc99ff;
$bg-dark : #333;