@font-face {
  font-family: 'Hattori';
  src: url('../../src/fonts/Hattori_hanzo.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Hattori';
  src: url('../src/fonts/Hattori_Hanzo_Italic.otf');
  font-style: italic;
  font-weight: normal;
}
